In [3]:
import pandas as pd 

data = {
    'Name' : ['aloce', 'bobs', 'charli', 'david'],
    'Age' : [25, 35, 91, 54]
}

df = pd.DataFrame(data)

print(df)
print(type(df))

     Name  Age
0   aloce   25
1    bobs   35
2  charli   91
3   david   54
<class 'pandas.core.frame.DataFrame'>

In [27]:
import pandas as pd 

data = {
    'Name' : ['aliss', 'bob', 'charli', 'david'],
    'Age' : [25, 35, 91, 54]
}

df = pd.DataFrame(data)

print(df)

print('\n',df.loc[1,'Name']) # access the bob (value using lable access) 

print('\n',df.iloc[1,0]) #access the bob (value using index access)

print('\n',df.loc[2]) #access the bob (value using index access)

print("\n",df.loc[[0,3]]) #access the bob (value using index access)

     Name  Age
0   aliss   25
1     bob   35
2  charli   91
3   david   54

 bob

 bob

 Name    charli
Age         91
Name: 2, dtype: object

     Name  Age
0  aliss   25
3  david   54

In [46]:
import pandas as pd 

data = {
    'Calories' : [370, 380, 390],
    'Duration' : [25, 35, 91]
}

df = pd.DataFrame(data, index=['day1', 'day2', 'day3'])

print(df)

print('\n',df.loc['day1','Calories']) # access the bob (value using lable access) 

print('\n',df.iloc[0,0]) #access the bob (value using index access)

print('\n',df.loc['day2'])

print('\n',df.iloc[[1]])

print('\n',df['Calories']) # access only Coloumns 

print('\n',df['Duration']) # access only coloumns 

print('\n',df.shape) # get shape the it's like a tuple 

print('\n',df.size) # get size or length in this dataFrame

print('\n',df.dtypes) # get datatypes in this dataFrame

      Calories  Duration
day1       370        25
day2       380        35
day3       390        91

 370

 370

 Calories    380
Duration     35
Name: day2, dtype: int64

       Calories  Duration
day2       380        35

 day1    370
day2    380
day3    390
Name: Calories, dtype: int64

 day1    25
day2    35
day3    91
Name: Duration, dtype: int64

 (3, 2)

 6

 Calories    int64
Duration    int64
dtype: object

In [50]:
import pandas as pd 

df = pd.DataFrame({'A':[1,2], 'B':[3,4]}) # define a new array with key values 

print(df)

print(df.columns) # get coloumns

   A  B
0  1  3
1  2  4
Index(['A', 'B'], dtype='object')

In [61]:
import pandas as pd 

data = {
    'Calories' : [370, 380, 390],
    'Duration' : [25, 35, 91]
}

df = pd.DataFrame(data)

print(df)

arr =  df.values
print('dataframe convert to array : \n',arr)
print(type(arr))

   Calories  Duration
0       370        25
1       380        35
2       390        91
dataframe convert to array :
 [[370  25]
 [380  35]
 [390  91]]
<class 'numpy.ndarray'>

In [64]:
import pandas as pd 

data = {
    'Calories' : [370, 380, 390],
    'Duration' : [25, 35, 91]
}

df = pd.DataFrame(data)

print(df)

print('get row count in using len : ',len(df))

   Calories  Duration
0       370        25
1       380        35
2       390        91
get row count in using len :  3

In [75]:
import pandas as pd 

data = {
    'Age' : [25, 30, 35, 40],
    'Salary' : [50000,60000, 70000, 80000]
}

df = pd.DataFrame(data)

print(df)


print("find mean in DataForm : \n",df.mean)

print("\nfind mean in DataForm in coloumn : \n",df['Age'].mean)

print("\nfind Sum of sallery DataForm in coloumn : \n",df.sum())

print("\nfind Sum of sallery DataForm in coloumn : \n",df['Salary'].sum())

   Age  Salary
0   25   50000
1   30   60000
2   35   70000
3   40   80000
find mean in DataForm :
 <bound method DataFrame.mean of    Age  Salary
0   25   50000
1   30   60000
2   35   70000
3   40   80000>

find mean in DataForm in coloumn :
 <bound method Series.mean of 0    25
1    30
2    35
3    40
Name: Age, dtype: int64>

find Sum of sallery DataForm in coloumn :
 Age          130
Salary    260000
dtype: int64

find Sum of sallery DataForm in coloumn :
 260000

In [89]:
import pandas as pd 

data = {
    'Name' : ['aliss', 'bob', 'charli', 'david'],
    'Age' : [25, 35, 91, 54],
    'Score' : [85, 70, 90, 88] 
}

df = pd.DataFrame(data)
print(df)

condition = df["Age"] > 75 # filter data with condition giving
print(df[condition])

sorted_values = df.sort_values(by='Age')
print('\nSort table value :\n',sorted_values)

     Name  Age  Score
0   aliss   25     85
1     bob   35     70
2  charli   91     90
3   david   54     88
     Name  Age  Score
2  charli   91     90

Sort table value :
      Name  Age  Score
0   aliss   25     85
1     bob   35     70
3   david   54     88
2  charli   91     90

In [92]:
import pandas as pd 
#  How to add a Row 
df = pd.DataFrame({'A':[1,2], 'B':[3,4]}) # define a new array with key values 

print(df)

df.loc[len(df)] = [5, 6]
print('\n',df) # add new row

   A  B
0  1  3
1  2  4

    A  B
0  1  3
1  2  4
2  5  6

In [111]:
import pandas as pd 

# Define a DataFrame
df = pd.DataFrame({'A': [1, 2], 'B': [3, 4]})  
print("Original DataFrame:")
print(df)

# Add a new row
# new_row = {'A': 5, 'B': 6}  # New row as a dictionary
# df = df.append(new_row, ignore_index=True)  # Add the new row
# print("\nDataFrame after adding a row:")
# print(df)

# Drop a column
dropped_column = df.drop('B', axis=1)
print("\nDataFrame after dropping column 'B':")
print(dropped_column)

# Drop a row
dropped_row = df.drop(0, axis=0)  # Drop the first row
print("\nDataFrame after dropping the first row:")
print(dropped_row)

Original DataFrame:
   A  B
0  1  3
1  2  4

DataFrame after dropping column 'B':
   A
0  1
1  2

DataFrame after dropping the first row:
   A  B
1  2  4