In [ ]:
# make 1st list coppy to 2nd list.
my_list1=[8,5,2,9,11]
my_list2 = my_list1

print(my_list2)# this is bigginer level copppy

[8, 5, 2, 9, 11]

In [ ]:
# make a coppy using .copy()
my_list1=[8,5,2,9,11]
my_list2=my_list1.copy();

print(my_list2) # this is correct coppy method.

[8, 5, 2, 9, 11]

In [ ]:
# Tupels in python 
my_tuple = ("apple", 8, True, "apple")

print(my_tuple);# print tuple
print(len(my_tuple));# length of tuple
print(type(my_tuple));# type of tuple

('apple', 8, True, 'apple')
4
<class 'tuple'>

In [10]:
# this is a exeption, if we use single element in our tuple it gives datatype and it not be a tuple 
single=(8)
print(single)
print(type(single));# 

# we can handle this...
print("we can handle this...>")

single=(8,)# if we use comma  to lasst element variable detects tuple datatype
print(single)
print(type(single));#

8
<class 'int'>
we can handle this...>
(8,)
<class 'tuple'>

In [16]:
second_tuple = (8, 10, 12, 7);

print(second_tuple[-1])#tuple access value in using reverse indexing 

print(second_tuple[1])#tuple access value normal indexing.

7
10

In [18]:
second_tuple = (8, 10, 12, 7);

print(second_tuple[1:3]) # access 1 to 3 indexes

(10, 12)

In [23]:
second_tuple = (8, 10, 12, 7);

my_list = list(second_tuple); # convert Tuple to List.
print(my_list); print(type(my_list),"\n");

my_list[2] = 5;

second_tuple = tuple(my_list) # re convert List to Tuple.

print(second_tuple)
print(type(second_tuple));

[8, 10, 12, 7]
<class 'list'>

(8, 10, 5, 7)
<class 'tuple'>

In [35]:
nest_tuple = ((1,2,3), ("apple", "banana", "grapes"), (True, False));

print(nest_tuple,"\n");

print("get nested tuple's 2nd tuple's second element :",nest_tuple[1][1])
print("get nested tuple's 3rd tuple's second element :",nest_tuple[2][1])

((1, 2, 3), ('apple', 'banana', 'grapes'), (True, False))

get nested tuple's 2nd tuple's second element : banana
get nested tuple's 3rd tuple's second element : False

In [52]:
range1 = range(1,11,2);
print("type of the range : ",type(range1),"\n");
print("this is length of the range : ",len(range1))
print("access range's 2nd value : ",range1[1])
print("if you print range you must convert it in to list : ",list(range1))

type of the range :  <class 'range'>

this is length of the range :  5
access range's 2nd value :  3
if you print range you must convert it in to list :  [1, 3, 5, 7, 9]

In [ ]:
mey_dickt ={
    "name" : "suger",
    "price": 250.20,
    "weight":"1kg",
}

print("this is Dictionary : ",mey_dickt)
print("access values using key values : ",mey_dickt["name"])
print(type(mey_dickt));

#update 
mey_dick["price"] = 300;

print("update dictionary ",mey_dickt,"\n");

this is Dictionary :  {'name': 'suger', 'price': 250.2, 'weight': '1kg'}
access values using key values :  suger
<class 'dict'>
update dictionary  {'name': 'suger', 'price': 300, 'weight': '1kg'}

In [ ]:
# access key values using get method.
mey_dickt ={
    "name" : "suger",
    "price": 250.20,
    "weight":"1kg",
}

print("access values using get command : ",mey_dickt.get("price"))

access values using get command :  250.2

In [ ]:
# access key values using get method. with passing default value.

mey_dickt ={
    "name" : "suger",
    "price": 250.20,
    "weight":"1kg",
}

print("access values using get command : ",mey_dickt.get("exp_date","2027-10-4")) # assign default value if it hasen't  asssigned value
# print(mey_dickt.get(exp_date))

access values using get command :  2027-10-4

In [10]:
# update key values 
mey_dickt ={
    "name" : "suger",
    "price": 250.20,
    "weight":"1kg",
}

mey_dickt.update({"price": 470, "name": "Karawala"}) # update values using update values.
print("updated values using update command : ",mey_dickt)

mey_dickt["colors"] ="White" # update values with new key values
print("updated values using update command : ",mey_dickt)

updated values using update command :  {'name': 'Karawala', 'price': 470, 'weight': '1kg'}
updated values using update command :  {'name': 'Karawala', 'price': 470, 'weight': '1kg', 'colors': 'White'}

In [ ]:
# delete key values 
mey_dickt ={
    "name" : "suger",
    "price": 250.20,
    "weight":"1kg",
}

mey_dickt.pop("name")# use pop command to remove key values with there assigned values 
print(mey_dickt)

#     or  

del mey_dickt["price"]
print(mey_dickt)

# fully destroy dectionary
del mey_dickt
print(mey_dickt)

# clear all dectionary 
mey_dickt.clear()
print(mey_dickt)
print("dectionary length after clear command : ",len(mey_dickt))

{'price': 250.2, 'weight': '1kg'}
{'weight': '1kg'}
{}
dectionary length after clear command :  0

In [ ]:
#coppy command
mey_dickt ={
    "name" : "suger",
    "price": 250.20,
    "weight":"1kg",
}

mey_dickt2 = mey_dickt.copy() # if coppy dictionary it will be assigned new variable.
print(mey_dickt2)

del mey_dickt["name"]
print(mey_dickt2)
print(mey_dickt)

{'name': 'suger', 'price': 250.2, 'weight': '1kg'}
{'name': 'suger', 'price': 250.2, 'weight': '1kg'}
{'price': 250.2, 'weight': '1kg'}